<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.layz.hx.mapper.bean.UserMapper" >
	<!-- 获取数据库表的数据 -->
	<select id="getUserList" resultType="org.layz.hx.common.bean.User">
		SELECT USER_ID userId,
			USER_NAME userName,
			SEX sex
		FROM
			T_USER
	</select>
	
	<select id="getUserByid" resultType="org.layz.hx.common.bean.User">
		SELECT USER_ID userId,
			USER_NAME userName,
			SEX sex
		FROM
			T_USER
		WHERE
			USER_ID = #{userId}
	</select>
</mapper>