<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.layz.hx.erp.repository.mapper.system.RoleMapper">

    <select id="queryUserRole" resultType="org.layz.hx.erp.domain.entity.system.Role">
        SELECT
            r.id,
            r.sysId,
            r.roleCode,
            r.roleName,
            r.roleType,
            r.remark,
            r.deleted,
            r.createdBy,
            r.lastModifiedBy,
            r.createdDate,
            r.lastModifiedDate
        FROM
            sys_role r,
            sys_user_role u
        WHERE
            u.roleId = r.id
            <if test="userId != null"> AND u.userId = #{userId} </if>
            <if test="disable != null"> AND r.deleted = #{disable} </if>
    </select>
</mapper>