<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true"> 
	
	<property name="LOG_HOME" value="D:/wayne/applog/logs/erp/system/erp-system.log" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder> 
			<pattern>[%-5level]%d{yyyy-MM-dd HH:mm:ss}|%thread|%logger{50}.%M\(%line\) | %msg%n</pattern> 
		</encoder> 
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level]%d{yyyy-MM-dd HH:mm:ss}|%thread|%logger{50}.%M\(%line\) | %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>